.page > header {
	background: $header-bg;
	height: 95vh;
	color: $header-txt;

	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;

	h1 {
		flex-basis: 100%;
		text-align: center;
		margin-top: -45px;

		span {
			display: inline-block;

			&:before {
				content: ":)";
				transform: rotate(90deg);
				display: block;
				margin-bottom: fz(1);
				pointer-events: none;
			}

			&:hover:before {
				content: ":P";
			}
		}
	}
}