doctype html

html

	include partials/head.jade

	body.page.contact

		main
			h1 Contact:

			p Felix Kalkuhl <br> Bouraueler Str. 53 <br> 53783 Eitorf
			p 
				a(href="mailto:felix@kalkuh.net") felix@kalkuhl.net

			a(href="index.html") back