include partials/head.jade

body.page.content
	
	header
		h1 Hi, i'm Felix
		div and i design Websites

	

	main 

		div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet eius harum dolorum velit minus maxime temporibus non voluptates voluptatibus modi voluptate provident quia, atque sint ex illo, possimus dolore vitae.
		
		img(src="http://lorempixel.com/500/400/")
		
		img(src="http://lorempixel.com/500/800/")
		
		img(src="http://lorempixel.com/500/400/")		
		
		img(src="http://lorempixel.com/500/300/")
		
		img(src="http://lorempixel.com/500/200/")
		
		img(src="http://lorempixel.com/500/600/")

	

	include partials/footer.jade