include partials/head.jade

body.page.home
	
	header
		h1 Hi, my name is Felix <br> and i'm a 
			a(href="https://medium.com/tony-stubblebine/the-sad-state-of-job-titles-d705832560f5#.r5rtkv5xb" target="_blank") Designhacker.

		.some-links <a href="https://twitter.com/colorlight4" target="_blank">twitter</a> / <a href="https://github.com/colorlight4" target="_blank">github</a>


	main
		h3 work

		a(href="#").item
			img(src="http://lorempixel.com/1200/800/", alt="")
			.item-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis non veritatis, eum id optio amet consequatur cupiditate, error blanditiis enim.

	

	include partials/footer.jade