include partials/head.jade

body.page.home
	
	header
		h1 Hi, i'm Felix
		div and i design Websites

	

	main
		a(href="#")
			img(src="http://lorempixel.com/500/400/")
		a(href="#")
			img(src="http://lorempixel.com/500/800/")
		a(href="#")
			img(src="http://lorempixel.com/500/400/")		
		a(href="#")
			img(src="http://lorempixel.com/500/300/")
		a(href="#")
			img(src="http://lorempixel.com/500/200/")
		a(href="#")
			img(src="http://lorempixel.com/500/600/")

	

	include partials/footer.jade