doctype html

html

	include partials/head.jade

	body.page.home
		
		header
			h1 
				span Hi, my name is Felix <br> and i'm a 
					<a href="https://medium.com/tony-stubblebine/the-sad-state-of-job-titles-d705832560f5#.r5rtkv5xb" target="_blank"> Design Hacker</a>.

			.some-links <a href="https://twitter.com/colorlight4" target="_blank">twitter</a> / <a href="https://github.com/colorlight4" target="_blank">github</a>


		main
			h3 some free time projects

			a.item.flx-grid(href="https://github.com/colorlight4/flx-grid-scss" target="_blank")
				.img
					img(src="img/flx-grid.png")
				.item-txt fun project to explore some sass syntax - read more at github

			.item.badelatschen
				.img
					img(src="img/badelatschen.jpg")
				.item-txt <b>Nationwide multi media campaign for respect, humanity and diversity</b> <br> Concept, Artdirection, Design, Producing (shortfilm in post production) and Photographie /w two others - for 
					a(href="http://www.dlrg-jugend.de" target="_blank") DLRG Jugend

			a.item.wake(href="https://github.com/colorlight4/generator-wake" target="_blank")
				.img
					img(src="img/wake.png")
				.item-txt my very own yeoman generator - read more at github

			.item.crush
				.img
					img(src="img/crush.jpg")
				.item-txt <b>EP Cover</b> <br> Design on my own - for crush

			.item.newsletter
				.img
					img(src="img/newsletter.jpg")
				.item-txt <b>postcard to promote our newsletter</b> <br> Concept and Artdirection /w one others - for 
					a(href="http://www.dlrg-jugend.de" target="_blank") DLRG Jugend

			.item.ohp
				.img
					img(src="img/ohp.png")
				.item-txt <b>logo idea for a private fun artisan print project</b> <br> Idea and Design on my own - for fun

			.item.outsider
				.img
					img(src="img/outsider.jpg")
				.item-txt <b>magazin cover concept</b> <br> Concept and Design on my own - school project

			.item.adler
				.img
					img(src="img/adler.png")
				.item-txt <b>T-Shirt Design Idea</b> <br> Idea & Design on my own

		include partials/footer.html