head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    meta(name="HandheldFriendly" content="True")
    meta(http-equiv="content-language" content="en")

    title= "Felix Kalkuhl | Webdesigner"

    meta(name="description" content="Hi, my name is Felix and i'm a Design Hacker.")

    link(rel="icon" href="http://www.kalkuhl.net/favicon.ico" type="image/x-icon")
    link(rel="shortcut icon" href="http://www.kalkuhl.net/favicon.ico" type="image/x-icon")

    meta(property="og:url" content="www.kalkuhl.net")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Felix Kalkuhl | Webdesigner")
    meta(property="og:locale" content="de_de")
    meta(property="og:image" content="#")
    meta(property="og:description" content="the code of my website")

    //- link(rel="apple-touch-icon" href="apple-touch-icon.png")

    meta(name="application-name" content="kalkuhl-net")
    meta(name="msapplication-TileImage" content="#")
    meta(name="msapplication-TileColor" content="#50E796")

    link(rel="stylesheet" href="css/main.css")

    //- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -
    <script type="text/javascript"> window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on my website","dismiss":"Got it!","learnMore":"More info","link":"http://www.google.com/intl/de/policies/privacy/partners/","theme":"dark-top"};</script>

    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js")
    //- End Cookie Consent plugin

