doctype html

html(lang="de")
head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    meta(name="HandheldFriendly" content="True")

    title= "Felix Kalkuhl | Webdesigner"

    meta(property="og:url" content="www.kalkuhl.net")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Felix Kalkuhl | Webdesigner")
    meta(property="og:locale" content="de_de")
    meta(property="og:image" content="#")
    meta(property="og:description" content="the code of my website")

    //- link(rel="apple-touch-icon" href="apple-touch-icon.png")

    meta(name="application-name" content="kalkuhl-net")
    meta(name="msapplication-TileImage" content="#")
    meta(name="msapplication-TileColor" content="#fff")

    //- bower:js
    script(src='../../bower_components/jquery/dist/jquery.js')
    //- endbower

    link(rel="stylesheet" href="css/main.css")
    script(src="js/main.js")